@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');


body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
    color: #010400;
    width: 1440px;
    height: 940px;
    align-items: center;
    justify-content: center;
    background-color: #5936CD;
    
}

body.home{
    background-color: #F4F4F9;
}

img.logo{
    width: 72px;
    height: 24px;
    margin-left: 112px;

}

h1{
    font-size: 40px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}

h1.lancamento-value{
    width: 70px;
    height: 54px;
}

h1.lancamento-value-receitas{
    width: 223px;
    height: 54px;
}

h1.lancamento-value-despesas{
    width: 223px;
    height: 54px;
}

h1.lancamento-value-balanco{
    color: #5936CD;
    width: 223px;
    height: 54px;
}

h2{
    font-size: 24px;
    font-weight:bold;
    margin: 0px;
    padding: 0px;
}

h2.planilha-title{
    width: 256px;
    height: 32px;
}

h3{
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}



h3.form-title{
    width: 100%;
    height: 25px;
}

h3.sair{
    font-size: 14px;
    width: 26px;
    height: 20px;
    font-weight: 600;
}

h3.email{
    color:#010400;
    font-size: 14px;
    font-weight: 600;
    width: 142px;
    height: 19px;
    font-style: normal;

}

h3.avatar-user-text{
    width: 14px;
    height: 28px;
    font-size: 20px;
    color: #010400;
}

h3.lancamento-title{
    width: 198px;
    height: 24px;
}

h3.lancamento-title-receitas{
    width: 76px;
    height: 24px;
}

h3.lancamento-title-despesas{
    width: 84px;
    height: 24px;
}

h3.lancamento-title-balanco{
    width: 72px;
    height: 24px;
}

h4{
    font-size: 16px;
    color: #7c7c7c;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

h4.date{
    color: #010400
}

p{
    font-size: 14px;
    color: #7c7c7c;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

p.show{
    width: 432px;
    height: 38px;
}

label{
    width: 100%;
    height: 74px;
    font-size: 14px;
    font-weight: 500;
}

a{
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

a.new-cadastre{
    width: 432px;
    height: 15px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

button{
    background-color: #5936CD;
    height: 56px;
    width: 432px;
    border-radius: 12px;
    color: #F4F4F9;
    border-width: 2px;
    font-weight: bold;
    font-size: 16px;
    border-color: #5936CD;
    border-style: solid;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

button.sigup{
    margin-top: 90px;

}

button.small{
    background-color: #F4F4F9;
    color: #010400;
    font-size: 14px;
    border-radius: 8px;
    width: 90px;
    height: 36px;
}


input{
    background-color: #F4F4F9;
    width: 432px;
    height: 48px;
    border-color: #06BEE1;
    border-style: solid;
    border-width: 2px;
    color: #010400;
    font-size: 16px;
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
}

.mt{
    margin-top: 16px;

}

.mt.larger{
    margin-top: 32px;

}

.mt.large{
    margin-top: 24px;

}

.mt.small{
    margin-top: 12px;

}

.mt.smaller{
    margin-top: 6px;

}

.box-cash{
    background-color: #FFFFFF;
    width: 280px;
    height: 140px;
    border-radius: 24px;
}

.box-add{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: solid;
    border-color: #5936CD;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 34px;
    width: 92px;
}


.avatar-user-container{
    display: flex;
    flex-direction: column;
    background-color: #E4FDE1;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 17px;
    padding-left: 17px;
}


.container-login{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 460px;
    background-color: #F4F4F9;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-left: 24px;
    padding-bottom: 36px;
    padding-right: 24px;
}

.container-sigup{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 520px;
    background-color: #F4F4F9;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-left: 24px;
    padding-bottom: 36px;
    padding-right: 24px;
}

.icon-img{
    width: 88px;
    height: 30px;
}

.formulario-login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 432px;
    height: 168px;
}

.user-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    width: 432px;
    height: 74px;
}

.box-email{
    width: 432px;
    height: 48px;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #06BEE1;
}


.campo-email{
    display: flex;
    height: 48px;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 24px 112px;
}

.nav-bar-container-logo{
    display: flex;
    align-items: flex-start;
    width: 240px;
    height: 44px;
    gap: 10px;
}

.nav-bar-container-date{
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #06BEE1;
}

.nav-bar-container-date-text{
    display: flex;
    width: 156px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-bar-container-user{
    display: flex;
    padding-right: 112px;
    align-items: center;
    gap: 32px;
}

.nav-bar-container-user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 202px;
    height: 48px;
}


.section-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding: 24px 24px 24px 24px;
    width: 1210px;
}

.card-values-info{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 140px;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background-color: #FFF;
    margin-right: 24px;
    
}

.section-planilha{
    width: 1214px;
    height: 592px;
    border-radius: 24px;
    background-color: #FFF;
    padding-top: 24px;

}

.section-planilha-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}


