/*      Container geral do dashboard
1 - Display
2 - Orientação da tela - todos os elementos distribuidos verticalmente
3 - Altura
4 - Align items e justify contente alinhados centralmente
5 - Cor de fundo
*/

.site-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    min-width: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    background: #F4F4F9;
}

/*Configurações da barra de navegação*/

/*1- Container geral da navbar*/
.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 72px;
    padding: 24px 112px;
    box-sizing: border-box; /*Border box somente nos containers*/
    background: #fff;    
}

/*2 - Imagem da logo*/

.logo-navbar{
    height: 24px;
    width: auto;
}

/*3 -  Container do calendario*/

.navbar-calendar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 240px;
}

.input-calendar{
    width: 156px;
    height: 42px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/*4 - Container do usuario*/

/*a - Geral*/
.navbar-user-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    height: 100%;
}

/*b - Avatar*/
.navbar-user-avatar{
    display: flex; /*Container em row mas elementos não especificados o flex-direction*/
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: #E4FDE1;
    align-items: center;
    justify-content: center;
}


/*Blocos financeiros*/

/*1- Container Geral*/
.finance-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 48px 112px;
    box-sizing: border-box; /*Border box somente nos containers*/
}
/*2- Conteudo blocos de dados finaceiros*/
.finance-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: CENTER;
    background: #FFFFFF;
    width: 280px;
    height: 140px;
    border-radius: 24px;

}

/*Tabela de dados*/

/*1-Container geral*/

.finance-table-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 122px;
    box-sizing: border-box; /*Border box somente nos containers*/
}
/*2-Container do conteudo*/
.finance-table-content-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FFFFFF;
    border-radius: 24px;
    height: 592px;
    padding: 24px;
}
/*3-Conteudo do cabeçalho*/
.finance-table-content-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    box-sizing: border-box;
}
/*4 - Largura da tabela no maximo*/
table{
    width: 100%;
}

/*5 - Configurações dos elementos da tabela*/
th{
    text-align: left;
    color: #7C7C7C;
}

tr{
    height: 32px;
}

th.right{
    text-align: right;
}
th.center{
    text-align: center;

}

td{
    color: #7C7C7C;
}

td.right{
    text-align: right;
}

td.center{
    text-align: center;
}

/*      Configurações do modal      */
/*1- Container geral*/

.modal-background{
    display: none; /*Modal só irá aparecer caso clique em adicionar no dashboard*/
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(1, 4, 0, 0.2);
}
/*2 - Conteudo do modal*/
.modal-content{
    height: 100%;
    width: 480px;
    background-color: #F4F4F9;
    padding: 24px;
    box-sizing: border-box;
}

/*3 - Cabeçalho do modal*/
.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}